p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif !important;
}

.green {
    color: #21ba45;
}

.red {
    color: #db2828;
}

#content .segment {
    padding: 2.5em;
    border-width: 0;
}

#selling-points {
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#share .button {
    margin-top: 0.5em;
}

#feedback {
    margin-top: 1.5em;
}
